'Admin':
  'title': 'Admin'
  'icon': 'icon-flame'
  'paths': [
    '/Users/sbalayn/dev/overblog/Admin'
  ]
'Site':
  'title': 'Site'
  'icon': 'icon-home'
  'paths': [
    '/Users/sbalayn/dev/overblog/Site'
  ]
'Core':
  'title': 'Core'
  'icon': 'icon-tools'
  'paths': [
    '/Users/sbalayn/dev/overblog/Core'
  ]
'User':
  'title': 'User'
  'icon': 'icon-person'
  'paths': [
    '/Users/sbalayn/dev/overblog/User'
  ]
'admin-client':
  'title': 'admin-client'
  'icon': 'icon-light-bulb'
  'paths': [
    '/Users/sbalayn/dev/overblog/admin-client',
    '/Users/sbalayn/dev/overblog/admin-client/node_modules'
  ]
