"*":
  "advanced-open-file":
    createDirectories: true
    fuzzyMatch: true
    helmDirSwitch: true
  "atom-material-ui":
    colors:
      abaseColor:
        alpha: 1
        blue: 51
        green: 51
        red: 204
      accentColor:
        alpha: 1
        blue: 247
        green: 247
        red: 247
      predefinedColor: "Red"
    fonts: {}
    tabs:
      compactTabs: true
      tintedTabBar: true
    treeView:
      blendTabs: true
      compactList: true
    ui:
      panelContrast: true
      panelShadows: true
  "autocomplete-plus": {}
  "clipboard-plus": {}
  core:
    disabledPackages: [
      "activate-power-mode"
      "smart-tab-name"
      "file-icons"
      "react"
      "atom-nude-pic"
    ]
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  docblockr: {}
  editor:
    fontFamily: "Fantasque Sans Mono"
    invisibles: {}
    lineHeight: 1.4
    showInvisibles: true
  "exception-reporting":
    userId: "6ea75670-e291-1815-555b-95ba4967dd73"
  "file-icons":
    onChanges: true
  "flex-tool-bar": {}
  fonts:
    fontFamily: "FiraCode"
    preview: "=>"
  "fuzzy-finder": {}
  "gist-it":
    newGistsDefaultToPrivate: true
    openAfterCreate: true
    userToken: "f3118c2b5baf4ca3d1fd4b120f14e56a2c478f6f"
  "git-diff": {}
  "git-log": {}
  jumpy: {}
  "language-babel": {}
  "one-dark-ui":
    fontSize: 12
  "one-light-ui": {}
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  react: {}
  "smart-tab-name": {}
  "status-bar": {}
  tabs:
    enableVcsColoring: true
    usePreviewTabs: true
  "todo-show":
    findTheseRegexes: [
      "FIXMEs"
      "/\\bFIXME:?\\d*($|\\s?.*$)/g"
      "TODOs"
      "/\\bTODO:?\\d*($|\\s?.*$)/g"
      "CHANGEDs"
      "/\\bCHANGED:?\\d*($|\\s?.*$)/g"
      "XXXs"
      "/\\bXXX:?\\d*($|\\s?.*$)/g"
      "IDEAs"
      "/\\bIDEA:?\\d*($|\\s?.*$)/g"
      "HACKs"
      "/\\bHACK:?\\d*($|\\s?.*$)/g"
      "NOTEs"
      "/\\bNOTE:?\\d*($|\\s?.*$)/g"
      "REVIEWs"
      "/\\bREVIEW:?\\d*($|\\s?.*$)/g"
    ]
    sortBy: "File"
  "toggle-quotes": {}
  "tool-bar":
    iconSize: "16px"
    position: "Left"
  "tree-view":
    autoReveal: true
    focusOnReveal: false
    showOnRightSide: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
  wrap: {}
