packages: [
  "advanced-open-file"
  "apex-syntax"
  "apex-ui"
  "atom-beautify"
  "atom-gpg"
  "atom-material-syntax"
  "atom-material-syntax-light"
  "blessed-light-syntax"
  "busy-signal"
  "dracula-syntax"
  "dracula-ui"
  "duotone-light-syntax"
  "duotone-snow"
  "editorconfig"
  "file-icons"
  "gist-it"
  "highlight-bad-chars"
  "intentions"
  "language-babel"
  "language-javascript-jsx"
  "line-length-break"
  "linter"
  "linter-ui-default"
  "merge-conflicts"
  "package-sync"
  "php-twig"
  "prettier-atom"
  "rainglow"
  "teletype"
  "todo-show"
  "toggle-quotes"
]
