packages: [
  "activate-power-mode"
  "advanced-open-file"
  "atom-material-syntax"
  "atom-material-syntax-light"
  "atom-material-ui"
  "atom-nude-pic"
  "blessed-light-syntax"
  "block-travel"
  "docblockr"
  "duotone-light-syntax"
  "duotone-snow"
  "editorconfig"
  "file-icons"
  "gist-it"
  "highlight-bad-chars"
  "jumpy"
  "language-babel"
  "language-javascript-jsx"
  "language-livescript"
  "language-lua"
  "line-length-break"
  "merge-conflicts"
  "package-sync"
  "php-twig"
  "react"
  "smart-tab-name"
  "todo-show"
  "toggle-quotes"
]
