packages: [
  "advanced-open-file"
  "apex-syntax"
  "apex-ui"
  "atom-beautify"
  "atom-material-syntax"
  "atom-material-syntax-light"
  "blessed-light-syntax"
  "duotone-light-syntax"
  "duotone-snow"
  "editorconfig"
  "file-icons"
  "gist-it"
  "highlight-bad-chars"
  "language-babel"
  "language-javascript-jsx"
  "line-length-break"
  "merge-conflicts"
  "package-sync"
  "php-twig"
  "react"
  "smart-tab-name"
  "todo-show"
  "toggle-quotes"
]
